# Entorno virtual
.venv/
venv/

# Variables de entorno (nunca se sube)
.env

# Python
__pycache__/
*.pyc

# Django
db.sqlite3
*.sqlite3
/staticfiles/
/media/# Entorno virtual
.venv/
venv/

# Variables de entorno (nunca se sube)
.env

# Python
__pycache__/
*.pyc

# Django
db.sqlite3
*.sqlite3
/staticfiles/
/media/